body{
    background-color: rgb(6, 22, 28);
    color: white;
}

.App{
    height: 100vh;
}

.point{
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: blue;
}

.controls{
    cursor: pointer;
    margin-right: 1rem;
}